$primary-color: #91c11b;
$primary-color-shade: #80aa18;
$primary-color-tint: #9cc732;
$secondary-color: #167f92;
$secondary-color-shade: #137080;
$secondary-color-tint: #2d8c9d;
$tertiary-color: #818287;
$tertiary-color-shade: #727277;
$tertiary-color-tint: #8e8f93;
$black: #555;
$white: #f4f5f8;
