body {
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
}

input,
select,
textarea {
  color: #555;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}
