<section>
  <div class="row">
    <img
      class="col-xs-12 col-sm-5"
      src="https://images.theconversation.com/files/443350/original/file-20220131-15-1ndq1m6.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C3354%2C2464&q=45&auto=format&w=926&fit=clip"
      alt=""
    />
    <div class="col-xs-12 col-sm-7">
      <h3>Elit laudantium</h3>
      <p>
        Cat ipsum dolor sit amet, irure. Cupidatat nemo aliquid. Voluptate
        nesciunt and est but perspiciatis for quam. Aliquid. Pariatur ratione
        for do. Autem perspiciatis sit. Ad ullamco numquam. Proident elit and
        laboriosam and officia. Aliquam consequatur and occaecat. Totam.
        Laudantium do tempora sunt aliquid ullam but dicta.
      </p>
      <div>
        <app-price></app-price>
        <app-controls *ngIf="controls; else bucket"></app-controls>
        <ng-template #bucket>
          <button>Bucket</button>
        </ng-template>
      </div>
    </div>
  </div>
  <article class="row col-xs-12">
    <h2>Description</h2>
    <p>
      Cat ipsum dolor sit amet, enim. Ipsa. Vitae modi. Aspernatur exercitation
      minima but sunt or labore. Rem esse for anim. Nulla culpa for eiusmod.
      Esse magni, labore but voluptas for adipisicing. Duis vel. Eu molestiae
      for eius. Exercitationem tempora modi totam, for consequat, minim fugit.
      Sint. Velitesse officia. Do explicabo sunt so quia magnam velit. Officia.
      Adipisicing numquam for anim eius consequuntur. Laboris. Do in vel do,
      fugiat or officia tempor. Sunt voluptate nisi eaque quisquam. Nisi nihil
      error. Ullamco eiusmod and doloremque and iure. Adipisci id or culpa. Sed
      sunt or nulla.
    </p>
  </article>
</section>
